# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# User-specific
UserSettings/
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.svd
*.pdb
*.mdb

# Crash reports
sysinfo.txt

# Other
.vscode/
.idea/
*.apk
*.aab
*.app
*.ipa
.DS_Store
